body{
  background-image:
  url( "pexels.jpg");
  
  background-size: cover;
  width: 75%;
  height: 75vh;
}
.container{
  width: 450px;
  height: 450px;
  position: absolute;
  left: 30%;
  background:rgba(8, 8, 8, 0.171);
  background-position: center;
  text-align: center;
  margin-top: 100px;
}