body{
  background-image:
  url( "kenya-2.jpg");
  
  background-size: cover;
  width: 75%;
  height: 75vh;
}
.container{
  
  width: 450px;
  height: 450px;
  position: absolute;
  left: 50%;
  top :5%;
  background:rgba(8, 8, 8, 0.171);
  background-position: left;
  text-align: center;
  margin-top: 100px;
  border-radius: 30px;
  padding: 20px 10px 20px 10px;
}
.material-symbols-outlined{
  font-size: 100px;
  color: rgba(11, 245, 112, 0.1);

}
h1{
    
    margin-left: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    font-family: "Playfair Display", serif;
    transform: translate(-50%, -50%);
    
    font-size: 10vw; 
    color: rgba(245, 200, 132, 0.299); 
    font-weight: 900; 
    text-align: center; 
    z-index: 90; 
    white-space: nowrap;
}


h2{
  font-size: 30px;
  margin-top: 60px;
  color: rgba(246, 242, 1, 0.913);
}
.input-field{
  margin: 15px 0;
  border-radius: 3px;
  color: green;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}
input{
  background:rgba(41, 40, 40, 0.489);
  width: 85%;
  border: 0;
  outline: 0;
  padding: 18px 15px;

}
input::placeholder {
  color: white;
}

i{
  margin-left: 10px;
  
}
form p{
  text-align: center;
  font-size: 18px;
  color: sandybrown;
}
form p a{
  color: rgba(235, 235, 23, 0.897);
}
.btn-field{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-field button{
   background:rgba(241, 91, 5, 0.509);
   color: whitesmoke;
   height: 50px;
   border-radius: 20px;
   cursor: pointer;
   flex-basis: 48%;
   border: 0;
   outline: 0;
   transition: background 1s;
  
}
.btn-field button.disable{
  background-color: whitesmoke;
  color:rgba(241, 91, 5, 0.509);
}